general: &general
  adapter: postgresql
  pool: 5
  host: localhost
  min_messages: WARNING

development:
  <<: *general
  database: app_db_name_dev

test:
  <<: *general
  database: app_db_name_test

production:
  <<: *general
  database: app_db_name
